<%= form_for(@profile) do |f| %>
    <div class="field">
    	<%= f.label :name %><br />
    	<%= f.text_field :name %>
    </div>
    <div class="field">
    	<%= f.label :date_of_birth %><br />
    	<%= f.date_select :birthday %>
    </div>
    <div class="field">
   	 <%= f.label :address %><br />
   	 <%= f.text_area :address %>
    </div>
    <div class="actions">
	<%= submit_or_cancel(f) %>
    </div>
<% end %>
